{% extends "base.html" %}

{% block content %}
<h1>Nuevo Usuario</h1>
<form action="{{ url_for('usuario_bp.nuevo_usuario') }}" method="POST">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>

    <label for="apellido">Apellido:</label>
    <input type="text" id="apellido" name="apellido" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="usuario">Usuario:</label>
    <input type="text" id="usuario" name="usuario" required>

    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" required>

    <label for="rol">Rol:</label>
    <select id="rol" name="rol">
        <option value="Admin">Admin</option>
        <option value="Usuario">Usuario</option>
    </select>

    <button type="submit">Agregar Usuario</button>
</form>
{% endblock %}

