{% extends "base.html" %}

{% block content %}
    <h1>Productos</h1>
    <a href="{{ url_for('producto_bp.nuevo_producto') }}" class="btn btn-primary">
        <i class="fas fa-plus"></i> Nuevo Producto
    </a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Versión</th>
                <th>Descripción</th>
                <th>Cliente</th>
                <th style="width: 3%;"><i class="fas fa-cog"></i></th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.version }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.cliente.nombre if producto.cliente else 'N/A' }}</td>
                <td class="acciones">
                    <a href="{{ url_for('producto_bp.editar_producto', id=producto.id) }}" class="btn btn-edit">
                        <i class="fas fa-edit"></i>
                    </a>
                    <form action="{{ url_for('producto_bp.eliminar_producto', id=producto.id) }}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-delete">
                            <i class="fas fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
