{% extends "base.html" %}

{% block content %}
<h1>Proveedores</h1>
<a href="{{ url_for('proveedor_bp.nuevo_proveedor') }}" class="btn btn-primary">
    <i class="fas fa-plus"></i> Nuevo Proveedor
</a>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Fecha de Contrato</th>
            <th>Periodo</th>
            <th style="width: 5%; text-align: center;"><i class="fas fa-cog"></i></th>
        </tr>
    </thead>
    <tbody>
        {% for proveedor in proveedores %}
        <tr>
            <td>{{ proveedor.id }}</td>
            <td>{{ proveedor.nombre }}</td>
            <td>{{ proveedor.fecha_contrato }}</td>
            <td>{{ proveedor.periodo }}</td>
            <td class="acciones">
                <a href="{{ url_for('proveedor_bp.editar_proveedor', id=proveedor.id) }}" class="btn btn-edit">
                    <i class="fas fa-edit"></i>
                </a>
                <form action="{{ url_for('proveedor_bp.eliminar_proveedor', id=proveedor.id) }}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-delete">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
